[submodule "py/helper/rc-switch"]
	path = py/helper/rc-switch
	url = https://github.com/sui77/rc-switch
[submodule "pi/helper/rc-switch"]
	path = pi/helper/rc-switch
	url = https://github.com/sui77/rc-switch
