[submodule "pi/cpp/rc-switch"]
	path = pi/cpp/rc-switch
	url = https://github.com/sui77/rc-switch
[submodule "pi-brennenstuhl-server-app"]
	path = pi-brennenstuhl-server-app
	url = git@github.com:fischer-matthias/pi-brennenstuhl-server-app.git
